
<div class="flex flex-wrap justify-center items-center listings-view-card">
  <% if(listings.length > 0) {%>
    <% listings.forEach((listings,i) => {%> 
  
              <% const IDtoken = listings.asset.id; %>
              <div class="row row-cols-1 row-cols-md-3 mb-3 text-center justify-center items-center">
                <div class="col justify-center items-center">
                  <div class="card mb-4 rounded-3 shadow-sm justify-center items-center width-14rem">
                    <div class="card-body justify-center items-center">
                      <h2 class="font20"><%=`${NFTs[0].contractMetadata.name}`%> #
                        <% if (String(IDtoken).length > 6) {%>
                        <%=String(IDtoken).slice(0,5) %>...
                        <%} else {%>
                          <%=IDtoken%>
                          <%}%>
                        </h2>
                      <a href="/goerli-listingDetails/<%=listings.assetContractAddress%>/<%=IDtoken%>/" id="paginationBtn">
                        
                        <%if (listings.asset.image.substr(listings.asset.image.length-4).toLowerCase() === ".png" 
                        || listings.asset.image.substr(listings.asset.image.length-4).toLowerCase() === ".svg"
                        || listings.asset.image.substr(listings.asset.image.length-4).toLowerCase() === ".jpeg"
                        || listings.asset.image.substr(listings.asset.image.length-4).toLowerCase() === ".jpg"
                        || listings.asset.image.substr(listings.asset.image.length-4).toLowerCase() === ".gif"
                        || listings.asset.image.indexOf(".", listings.asset.image.length-5) === -1){%>
                          <img class="items-center asyncImage NFTcardImg" src="/images/loading.png" data-src="<%=listings.asset.image%>"  alt="...">
                          <%} %>
                        
                          <%if (listings.asset.image.substr(listings.asset.image.length-4).toLowerCase() === ".wav" 
                          || listings.asset.image.substr(listings.asset.image.length-4).toLowerCase() === ".mp3" 
                          || listings.asset.image.substr(listings.asset.image.length-4).toLowerCase() === ".ogg"){%>
                            <audio class="NFTcardAudioImg" controls><source src="<%=listings.asset.image%>"></audio>
                            <%}%>
                       
                        <%if (listings.asset.image.substr(listings.asset.image.length-4).toLowerCase() === ".mp4"
                        || listings.asset.image.substr(listings.asset.image.length-4).toLowerCase() === ".webm"
                        || listings.asset.image.substr(listings.asset.image.length-4).toLowerCase() === ".ogg"){%>
                            <video class="details-video-nft" controls><source src="<%=listings.asset.image%>"></video>
                            <%}%>
                        <%if (listings.asset.image.substr(listings.asset.image.length-4).toLowerCase() === ".doc"
                        || listings.asset.image.substr(listings.asset.image.length-4).toLowerCase() === ".docx"
                        || listings.asset.image.substr(listings.asset.image.length-4).toLowerCase() === ".pdf"
                        || listings.asset.image.substr(listings.asset.image.length-4).toLowerCase() === ".txt"){%>
                            <iframe src="https://docs.google.com/gview?url=<%=listings.asset.image%>&embedded=true" width="75%" height="75%" frameborder="0"></iframe>
                            <%}%>
  
  
                      </a>
                      <div class="price">
                        <a>Price: <%=listings.buyoutCurrencyValuePerToken.displayValue%> <%=listings.buyoutCurrencyValuePerToken.symbol%></a>
                        <br>
                          <%if(listings.type === 0) {%>
                             <a href="/goerli-listingDetails/<%=listings.assetContractAddress%>/<%=IDtoken%>/" id="paginationBtn"><button class="button width-90">Buy/Offer</button></a>
                            <%} else {%>
                              <a href="/goerli-listingDetails/<%=listings.assetContractAddress%>/<%=IDtoken%>/" id="paginationBtn"><button class="button width-90">Place Bid</button></a>
                            <%}%>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
             
              <%})%>
        <%} else {%>
    
  
    <div class="flex flex-wrap justify-center items-center listings-view-card">
          <div class="row row-cols-1 row-cols-md-3 mb-3 text-center justify-center items-center">
            <div class="col justify-center items-center">
              <div class="card mb-4 rounded-3 shadow-sm justify-center items-center width-14rem">
                <div class="card-body justify-center items-center">
                      <h2 class="font20">No Listings</h2>
                      <a target="_blank"><img class="items-center details-image-nft" src="/images/nolistings.png"  alt="..."></a>
                      <div class="no-token">
                          <a id="token" class="NFT-id">Token ID: :[</a>
                      </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    
    <%}%>
  
  </div>
  
  
  