
<% if (NFTs[0].contractMetadata.openSea.imageUrl){%>
  <img class="collection-info-img" src="<%=NFTs[0].contractMetadata.openSea.imageUrl%>"/>
  <%} else if (NFTs[0].metadata.filetype != "mp4" || NFTs[0].metadata.filetype === null) {%>
      <img class="collection-info-img" src="<%=NFTs[0].media[0].gateway%>"/>
  <%} else if (NFTs[0].metadata.filetype === "mp4" || NFTs[0].metadata.filetype === "webm" || NFTs[0].metadata.filetype === "ogg"){%>
      <video class="collection-info-img" controls><source src="<%=NFTs[0].media[0].gateway%>"></video>
    <%}%>
  <div class="collection-info-icons">
      <%if (NFTs[0].contract.address === '0x8fba3ebe77d3371406a77eeaf40c89c1ed55364a' 
      || NFTs[0].contract.address === '0xb6c29b68fecedbf005743c3eaf5139328b651deb' 
      || NFTs[0].contract.address === '0x8f170F73076b7A45749677B1681b13366B3C80f7' 
      || NFTs[0].contract.address === '0x6866ed9a183f491024692971a8f78b048fb6b89b'
      || NFTs[0].contract.address === '0x8d085750cdabca5e8485d0310b7eb0fc0ef2103c'
      || NFTs[0].contract.address === '0xbe4bef8735107db540de269ff82c7de9ef68c51b' 
      || NFTs[0].contractMetadata.openSea.safelistRequestStatus === 'verified') {%>
      <img class="width-18px" src="/images/verified.png">
      <%} %>
      <% if (NFTs[0].contractMetadata.openSea.twitterUsername != null){%>
      <a target="_blank" href="https://twitter.com/<%=NFTs[0].contractMetadata.openSea.twitterUsername%>"><i class="fa-brands fa-twitter socialLinks-info"></i></a>
      <%}%>
      <% if (NFTs[0].contractMetadata.openSea.discordUrl != null){%>
      <a target="_blank" href="<%=NFTs[0].contractMetadata.openSea.discordUrl%>" rel="noopener noreferrer"><i class="fa-brands fa-discord socialLinks-info"></i></a>
      <%}%>
      <% if (NFTs[0].contractMetadata.openSea.externalUrl != null){%>
      <a target="_blank" href="<%=NFTs[0].contractMetadata.openSea.externalUrl%>" rel="noopener noreferrer"><i class="fa-solid fa-globe socialLinks-info"></i></a>
      <%}%>
   </div>  

  <div class="grid-collectionInfo">
      <%if(NFTs[0].contractMetadata.name != null){%>
      <div class="bluz text-right">Name:</div>
      <div class="text-left"><%=NFTs[0].contractMetadata.name%></div>
      <%}%>
      
      <%if(NFTs[0].metadata.description != null){%>
      <div class="bluz text-right">About:</div>  
      <div class="text-left"><%=NFTs[0].metadata.description%></div>
      <%} else {%>
        <div class="bluz text-right">About:</div>  
        <div class="text-left">Test NFT collection to support development.</div>
        <%}%>

      <div class="bluz text-right">Floor:</div>
      <div class="text-left">
          <% if (fp != null){%>
              <% if(fp['openSea']['floorPrice'] != null){%>
                <a>
                <%= JSON.stringify(fp['openSea']['floorPrice'])%>
                <%= fp['openSea']['priceCurrency']%>
                <a class="link info-fp" target="_blank" href="<%=fp['openSea']['collectionUrl']%>" rel="noopener noreferrer">Opensea</a>
                <%} else {%>
                  <a class="calc-error">NA for Opensea</a>
                <%}%>
                </a><br>
              <a>
                <% if(fp['looksRare']['floorPrice'] != null){%>  
                <%= JSON.stringify(fp['looksRare']['floorPrice'])%>
                <%= fp['looksRare']['priceCurrency']%>
                <a class="link info-fp" target="_blank" href="<%=fp['looksRare']['collectionUrl']%>" rel="noopener noreferrer">Looksrare</a>
                <%}else {%>
                  <a class="calc-error">NA for Looksrare</a>
                <%}%>
              </a>
                <%}else { %>
                  💎
                  <%}%>
      </div> 

      <% if (NFTs[0].contractMetadata.tokenType != null){%>
      <div class="bluz text-right">Type:</div>
      <div class="text-left"><%=NFTs[0].contractMetadata.tokenType%></div>
      <%}%>
      <% if (NFTs[0].contractMetadata.openSea.description != null && NFTs[0].contractMetadata.openSea.description.trim().length != 0){%>
      <div class="bluz text-right">Description:</div>
      <div class="collection-description"><%=NFTs[0].contractMetadata.openSea.description%></div>
      <%}%>
      <% if (royalties.royalties.length > 0 ){%>
      <div class="bluz text-right">Royalties:</div>
      <div class="text-left"><%=((royalties.royalties[0].value/10000) * 100)%> %</div>
      <%}%>
  </div>

  


