<nav id="navbar">

  <div id="mySidepanelM" class="sidepanelM" style="z-index:3">
    <a href="javascript:void(0)" class="closebtnM" onclick="closeNav()">×</a>
    <a href="/marketgm" onclick="return onLoading4()" style="white-space: nowrap;">Market gm ☕️</a>
    <a href="https://open.factoria.app/" target="_blank">Factoria</a>
    <a href="https://learn.zerobeings.xyz/#/" target="_blank">Learn</a>
    <a href="/myListings" onclick="return onLoading4()" style="white-space: nowrap;">My Listings</a>
    <a style="white-space: nowrap;" href="/auctions" onclick="return onLoading4()">Auctions</a>
    <% if (session.zerb || session.tinydinos || session.freshfrogsNFT) { %>
      <a style="white-space: nowrap;" href="/" onclick="return onLoading4()">Zerb gm ☕️</a>
      <% } %>
    <% if (session.zerb || session.guest || session.tinydinos || session.freshfrogsNFT) { %>
    <a href="/login" onclick="return onLoading4()">Logout</a>
    <% } else { %>
      <a href="/login" onclick="return onLoading4()">Login</a>
      <% }%>
    <div style="display: flex; position: absolute; bottom: 3px;">
      <a target="_blank" href="https://twitter.com/Zero_beings" onclick="return onLoading4()"><i class="fa-brands fa-twitter" style="color: #818181;text-decoration: none; padding-left: 5px;"></i></a>
      <a target="_blank" href="https://discord.gg/sjbVYr6ZXS" onclick="return onLoading4()"><i class="fa-brands fa-discord" style="color: #818181;text-decoration: none; padding-left: 5px;"></i></a>
      <a target="_blank" href="https://github.com/Zerobeings" onclick="return onLoading4()"><i class="fa-brands fa-github" style="color: #818181;text-decoration: none; padding-left: 5px;"></i></a>
    </div>  
  </div>

 
    
    
    <a href="/marketgm" onclick="return onLoading4()">
      <img class="logoZerb" style="width: 150px;" src="/images/zerobeings_logo_m.png"/>
      <img class="logoZerb2" style="width: 40px;" src="/images/zerobeings_logo.png"/>
    </a> 
        
    <form action="/marketgm" method="POST" class="marketForm" style="margin-left: auto; margin-right: auto;" id="searchForm">
      <input type="search" placeholder="Collection" class="inputMarket required" name="collection" onkeyup="enableSubmit()">
      <input type="submit" value="Submit" class="submit hidden" onclick="return onLoading4()" disabled>
    </form>
    <% if (session.zerb || session.tinydinos || session.freshfrogsNFT) { %>
      <a style="margin-left: 12px; margin-right: 12px;text-decoration: none;" class="imgDesktop navLinks" href="/" onclick="return onLoading4()">☕️</a>
      <% } %>
    <a style="margin-left: 12px; margin-right: 12px;text-decoration: none;" class="imgDesktop navLinks" href="https://open.factoria.app/" target="_blank">Factoria</a>
    <a style="margin-left: 12px; margin-right: 12px;text-decoration: none;" class="imgDesktop navLinks" href="https://learn.zerobeings.xyz/#/" target="_blank">Learn</a>
    <a style="margin-left: 12px; margin-right: 12px; text-decoration: none; white-space: nowrap;" class="imgDesktop navLinks" href="/myListings" onclick="return onLoading4()">My Listings</a>
    <a style="margin-left: 12px; margin-right: 24px; text-decoration: none;" class="imgDesktop navLinks" href="/auctions" onclick="return onLoading4()">Auctions</a>

    <img id="profileImg" style="justify-self: end; margin-right: 0px;" class="imgProfile asyncImage imgDesktop" src="/images/loading.png" data-src="<%=NFTs[0].media[0].gateway%>" alt=""></img>
    <% if (session.zerb) { %>
    <button id="address" name="address" value="<%=session.zerb.account%>" class="button imgDesktop" style="color: white;" target="_blank" onclick="location.href='/login'"><%=session.zerb.account%></button>
    <%} else if (session.guest) {%>
      <button id="address" name="address" value="<%=session.guest.account%>" class="button imgDesktop" style="color: white;" target="_blank" onclick="location.href='/login'"><%=session.guest.account%></button>
      <%} else if (session.tinydinos) {%>
        <button id="address" name="address" value="<%=session.tinydinos.account%>" class="button imgDesktop" style="color: white;" target="_blank" onclick="location.href='/login'"><%=session.tinydinos.account%></button>
        <%} else if (session.freshfrogsNFT) {%>
          <button id="address" name="address" value="<%=session.freshfrogsNFT.account%>" class="button imgDesktop" style="color: white;" target="_blank" onclick="location.href='/login'"><%=session.freshfrogsNFT.account%></button>
    <% } else { %>
      <button name="address" class="button imgDesktop" style="color: white;" target="_blank" onclick="location.href='/login'">Login</button>
    <% }%>

      <a class="openbtnM imgMobile" onclick="openNav()">☰</a> 
  
  </nav>

  <script>
    function openNav() {
     document.getElementById("mySidepanelM").style.width = "250px";
   }
   
   function closeNav() {
     document.getElementById("mySidepanelM").style.width = "0";
   }
   </script>