<nav id="navbar">

  <div id="mySidepanelM" class="sidepanelM">
    <a id="closebtnM" class="closebtnM">×</a>
    <% if (session.zerb || session.tinydinos || session.freshfrogsNFT) { %>
      <a class="nowrap" href="/" id="genericLoaderM">Zerb gm ☕️</a>
      <% } %>
    <a href="/marketgm" id="genericLoaderM" class="nowrap">Market gm ☕️</a>
    <a href="/myListings" id="genericLoaderM" class="nowrap">My Listings</a>
    <a class="nowrap" href="/auctions" id="genericLoaderM">Auctions</a>
    <a href="https://learn.zerobeings.xyz/#/" target="_blank">Learn</a>
    <% if (session.zerb || session.guest || session.tinydinos || session.freshfrogsNFT) { %>
    <a href="/login" id="genericLoaderM">Logout</a>
    <% } else { %>
      <a href="/login" id="genericLoaderM">Login</a>
      <% }%>
    <div class="socialLinks">
      <a target="_blank" href="https://twitter.com/Zero_beings" id="genericLoaderM"><i class="fa-brands fa-twitter socialIcons"></i></a>
      <a target="_blank" href="https://discord.gg/sjbVYr6ZXS" id="genericLoaderM"><i class="fa-brands fa-discord socialIcons"></i></a>
      <a target="_blank" href="https://github.com/Zerobeings" id="genericLoaderM"><i class="fa-brands fa-github socialIcons"></i></a>
    </div>  
  </div>

 
    
    
    <a href="/marketgm" id="genericLoaderM">
      <img class="logoZerb width-150px" src="/images/zerobeings_logo_m.png"/>
      <img class="logoZerb2 width-40px" src="/images/zerobeings_logo.png"/>
    </a> 
        
    <form action="/marketgm" method="POST" class="marketForm margin-left-auto margin-right-auto" id="searchForm">
      <input id="collectionSearch" type="search" placeholder="Collection" class="inputMarket required" name="collection">
      <input type="submit" value="Submit" class="submit hidden" id="genericLoaderM" disabled>
    </form>
    
    <img id="profileImg" class="imgProfile asyncImage imgDesktop self-end margin-right-0px margin-left-auto" src="/images/loading.png" data-src="<%=NFTs[0].media[0].gateway%>" alt=""></img>
    <% if (session.zerb) { %>
    <button id="address" name="address" value="<%=session.zerb.account%>" class="button imgDesktop white-color"><%=session.zerb.account%></button>
    <%} else if (session.guest) {%>
      <button id="address" name="address" value="<%=session.guest.account%>" class="button imgDesktop white-color"><%=session.guest.account%></button>
      <%} else if (session.tinydinos) {%>
        <button id="address" name="address" value="<%=session.tinydinos.account%>" class="button imgDesktop white-color"><%=session.tinydinos.account%></button>
        <%} else if (session.freshfrogsNFT) {%>
          <button id="address" name="address" value="<%=session.freshfrogsNFT.account%>" class="button imgDesktop white-color"><%=session.freshfrogsNFT.account%></button>
    <% } else { %>
      <button name="address" class="button imgDesktop white-color">Login</button>
    <% }%>

    <a id="openbtnM" class="openbtnM">☰</a>
  
  </nav>