<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
 
</head>
<body class="container">


<header>
  <%- include('../partials/headerDetails'); %>
</header>

<main>
  <div>
    <h1>Market gm ☕</h1>
    <div class="text-center">0.5% Platform Fee & <a class="link no-decorations" href="https://eips.ethereum.org/EIPS/eip-2981">EIP-2981</a> Royalties Honored</div>
    <div class="nft-details">NFT Details</div>
    <div id="overlay"></div>
  </div>


  <br>


<div class="details-frame">
  
            <% if (BigInt(nft.id.tokenId) === BigInt(IDToken)){%> 
            <% const IDtoken = BigInt(nft.id.tokenId); %>
           
  <div class="grid-NFTdetails">
    <div class="NFTdetailsImage position-nft-details">
      <h1><%=nft.title%></h1>
            <a href="https://opensea.io/assets/ethereum/<%=nft.contract.address%>/<%=IDtoken%>/" target="_blank">
              <%if (nft.media[0].raw.substr(nft.media[0].raw.length-4).toLowerCase() === ".png"
                || nft.media[0].raw.substr(nft.media[0].raw.length-4).toLowerCase() === ".svg"
                || nft.media[0].raw.substr(nft.media[0].raw.length-4).toLowerCase() === ".jpeg"
                || nft.media[0].raw.substr(nft.media[0].raw.length-4).toLowerCase() === ".jpg"
                || nft.media[0].raw.substr(nft.media[0].raw.length-4).toLowerCase() === ".gif"
                || nft.media[0].raw.indexOf(".", nft.media[0].raw.length-5) === -1
                || nft.media[0].format === "png"
                || nft.media[0].format === "svg"
                || nft.media[0].format === "jpeg"
                || nft.media[0].format === "jpg"
                || nft.media[0].format === "gif") {%>
                <img class="items-center asyncImage details-image-nft" src="/images/loading.png" data-src="<%=nft.media[0].gateway%>"  alt="...">
                  <%} %>
                <%if (nft.metadata.animation_url != null) {%>
                  <%if (nft.metadata.animation_url.substr(nft.metadata.animation_url.length-4).toLowerCase() === ".wav" 
                  || nft.metadata.animation_url.substr(nft.metadata.animation_url.length-4).toLowerCase() === ".mp3" 
                  || nft.metadata.animation_url.substr(nft.metadata.animation_url.length-4).toLowerCase() === ".ogg"){%>
                    <audio class="details-audio-nft" controls><source src="<%=nft.metadata.animation_url%>"></audio>
                    <%}%>
                <%}%>
                <%if (nft.media[0].raw.substr(nft.media[0].raw.length-4).toLowerCase() === ".mp4"
                || nft.media[0].raw.substr(nft.media[0].raw.length-4).toLowerCase() === ".webm"
                || nft.media[0].raw.substr(nft.media[0].raw.length-4).toLowerCase() === ".ogg"
                || nft.media[0].format === "mp4"
                || nft.media[0].format === "webm"
                || nft.media[0].format === "ogg"){%>
                    <video class="detilas-video-nft" controls><source src="<%=nft.media[0].gateway%>"></video>
                    <%}%>
                <%if (nft.media[0].raw.substr(nft.media[0].raw.length-4).toLowerCase() === ".doc"
                || nft.media[0].raw.substr(nft.media[0].raw.length-4).toLowerCase() === ".docx"
                || nft.media[0].format === "doc"
                || nft.media[0].format === "docx"){%>
                    <iframe src="https://docs.google.com/gview?url=<%=nft.media[0].gateway%>&embedded=true" width="75%" height="75%" frameborder="0"></iframe>
                    <%}%>
            </a>
          <%}%>
       
    </div>

        <div class="NFTdetailsInfo">
            <% if(nft.metadata.attributes != null) { %>
           
            <%if (BigInt(nft.id.tokenId) === BigInt(IDToken)) {%>
            <h1>NFT Attributes</h1>
            <% const IDtoken = BigInt(nft.id.tokenId);%>
            <% const attributes = Object.keys(nft.metadata.attributes);%>
                <div class="margin-bottom-10px">
                <%for (p=0; p<attributes.length; p++){%>
                    
                        <div class="grid-MetaData">
                            <div class="bluz padding-10px"><%= nft.metadata.attributes[p].trait_type%>:</div>
                            <div class="padding-10px"><%= nft.metadata.attributes[p].value%></div>
                        </div>
                    
                <%}%>
                </div>
                <%}%>
                <%} else {%>
                  <h1>NFT Info</h1>
                  <div class="grid-MetaData">
                            <div class="bluz padding-10px">About:</div>
                            <div class="padding-10px"><%= nft.metadata.description%></div>
                  </div>
                  <%}%>

                  <div class="file-license">
                    <%if (nft.metadata.file != null) {%>
                        <a href="<%=nft.metadata.file%>" target="_blank" class="no-decoration" rel="noopener noreferrer">
                          <img class="img-file-license" src="/images/filelocation.png">
                        </a>
                      <%}%>
                      <%if (nft.metadata.file != null) {%>
                        <a href="<%=nft.metadata.license_url%>" target="_blank" class="no-decoration" rel="noopener noreferrer">
                          <img class="img-file-license" src="/images/NFTlicense.png">
                        </a>
                      <%}%>
                  </div>
        </div>
   
</div>
</div>

<br>



 

<div id="NFTarr" class="hidden"><%=JSON.stringify(nft)%></div>
</main>


<footer id="footer">
    <%- include('../partials/footerMarket'); %>
</footer>

<script src="/js/imgLoader.js"></script>
<script src="/js/imLoading.js"></script>
<script src="/js/date.js"></script>
<script src="/js/navSidepanel.js"></script>
</body>
</html>