<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
 

</head>
<body class="container">


<header>
  <%- include('../partials/headerDetails'); %>
</header>

<main>
  <div>
    <h1>Market gm ☕</h1>
    <div style="text-align: center;">0.5% Platform Fee & <a class="link" style="text-decoration: none;" href="https://eips.ethereum.org/EIPS/eip-2981">EIP-2981</a> Royalties Honored</div>
    <div style="text-align:center;color: rgb(65, 188, 225) ; font-size: 40px; margin: 20px; margin-bottom: 42px;">Market Listing Details</div>
    <div id="overlay"></div>
  </div>

<div style="max-width: 1375px; position: relative; margin: auto; max-height: 100%;">
  <div class="grid-NFTdetails">
    <div class="NFTdetailsImage" style="text-align: center; margin-bottom: auto;">
     

      <%if (listings[0].asset.image.substr(listings[0].asset.image.length-4).toLowerCase() === ".png" 
        || listings[0].asset.image.substr(listings[0].asset.image.length-4).toLowerCase() === ".svg"
        || listings[0].asset.image.substr(listings[0].asset.image.length-4).toLowerCase() === ".jpeg"
        || listings[0].asset.image.substr(listings[0].asset.image.length-4).toLowerCase() === ".jpg"
        || listings[0].asset.image.substr(listings[0].asset.image.length-4).toLowerCase() === ".gif"
        || listings[0].asset.image.indexOf(".", listings[0].asset.image.length-5) === -1){%>
          <img class="items-center asyncImage" style="border-radius: 10px ; width: 75%; height: 75%;" src="/images/loading.png" data-src="<%=listings[0].asset.image%>"  alt="...">
          <%} %>
        
          <%if (listings[0].asset.image.substr(listings[0].asset.image.length-4).toLowerCase() === ".wav" 
          || listings[0].asset.image.substr(listings[0].asset.image.length-4).toLowerCase() === ".mp3" 
          || listings[0].asset.image.substr(listings[0].asset.image.length-4).toLowerCase() === ".ogg"){%>
            <audio style="width: 75%; height:30px; border-radius: 10px;" controls><source src="<%=listings[0].asset.image%>"></audio>
            <%}%>
        
        <%if (listings[0].asset.image.substr(listings[0].asset.image.length-4).toLowerCase() === ".mp4"
        || listings[0].asset.image.substr(listings[0].asset.image.length-4).toLowerCase() === ".webm"
        || listings[0].asset.image.substr(listings[0].asset.image.length-4).toLowerCase() === ".ogg"){%>
            <video style="width: 75%; height:75%; border-radius: 10px;" controls><source src="<%=listings[0].asset.image%>"></video>
            <%}%>
        <%if (listings[0].asset.image.substr(listings[0].asset.image.length-4).toLowerCase() === ".doc"
        || listings[0].asset.image.substr(listings[0].asset.image.length-4).toLowerCase() === ".docx"
        || listings[0].asset.image.substr(listings[0].asset.image.length-4).toLowerCase() === ".pdf"
        || listings[0].asset.image.substr(listings[0].asset.image.length-4).toLowerCase() === ".txt"){%>
            <iframe src="https://docs.google.com/gview?url=<%=listings[0].asset.image%>&embedded=true" width="75%" height="75%" frameborder="0"></iframe>
            <%}%>


    </div>
    <div class="NFTdetailsInfo">
      <h1 style="text-align: center; margin-top: 30px;"><%=nfts.contractMetadata.name%> #<%=listings[0].asset.id%></h1>
      <a id="theListingID" class="hidden"><%=listings[0].id%></a>
      <div class="grid-NFTdetails2">
        <div class="bluz">Contract:</div>
        <div>
          <a target="_blank" class="link" style="text-decoration: none;" href="https://goerli.etherscan.io/address/<%=listings[0].assetContractAddress%>">
            <%=listings[0].assetContractAddress.substr(0,4)%>...<%=listings[0].assetContractAddress.substr(listings[0].assetContractAddress.length-4)%>
          </a>
        </div>
        <div class="bluz">Seller:</div>
        <div>
          <a target="_blank" class="link" style="text-decoration: none;" href="https://etherscan.io/address/<%=listings[0].sellerAddress%>">
            <%=listings[0].sellerAddress.substr(0,4)%>...<%=listings[0].sellerAddress.substr(listings[0].sellerAddress.length-4)%>
          </a>
        </div>
        <div class="bluz">Sale Type:</div>
        <div>
          <%if(listings[0].type === 0) {%>
            Direct Sale
           <%} else {%>
             Auction
           <%}%>  
        </div>
        <div class="bluz">Buyout Price:</div>
        <a class="hidden" id="buybuybuy"><%=listings[0].buyoutPrice%></a>
        <div><%=listings[0].buyoutCurrencyValuePerToken.displayValue%> <%=listings[0].buyoutCurrencyValuePerToken.symbol%></div>
        <%if(listings[0].type === 0) {%>
              <div class="bluz">Sale Duration:</div>
              <a id="referenceTime" class="hidden"><%=parseInt(listings[0].secondsUntilEnd)%></a>
              <div><%=Math.round((parseInt(listings[0].secondsUntilEnd)-parseInt(listings[0].startTimeInSeconds))/86400)%> days</div>
              <div class="bluz">Sale Ends:</div> 
              <div>
                <% let timeLeft = Math.round(parseInt(listings[0].secondsUntilEnd - (Math.floor(Date.now()/1000)))/86400)%>
                <% if (timeLeft < 0){%>
                  Expired
                  <%} else {%>
                    <%= timeLeft %> days
                    <%}%>
                </div>
            <%} else {%>
              <div class="bluz">Reserve Price:</div>
              <div><%=listings[0].reservePriceCurrencyValuePerToken.displayValue%> <%=listings[0].reservePriceCurrencyValuePerToken.symbol%></div>
              <div class="bluz">Sale Duration:</div> 
              <a id="referenceTime" class="hidden"><%=parseInt(listings[0].endTimeInEpochSeconds)%></a>
              <div><%=Math.round((parseInt(listings[0].endTimeInEpochSeconds)-parseInt(listings[0].startTimeInEpochSeconds))/86400)%> days</div>
              <div class="bluz">Sale Ends:</div> 
              <div>
                <% let timeLeft = Math.round(parseInt(listings[0].endTimeInEpochSeconds - (Math.floor(Date.now()/1000)))/86400)%>
                <% if (timeLeft < 0){%>
                  0
                  <%} else {%>
                    <%= timeLeft %>
                    <%}%>
                days</div>
              <%}%>
              <%if (royalties.royalties[0].value != null){%>
              <div class="bluz">Royalties:</div>
              <div><%=((royalties.royalties[0].value/10000) * 100)%> %</div>
              <%}%>
      </div>
      <% if(nfts.metadata.attributes != null) { %>
        <h1>NFT Attributes</h1>
        <div style="margin-top: 5px; margin-bottom: 10px; text-align: center;">
              <%if (nfts.metadata.file != null) {%>
                  <a href="<%=nfts.metadata.file%>" target="_blank" style="text-decoration: none;">
                    <img style="height: 40px; width:40px; margin-right:10px;" src="/images/filelocation.png">
                  </a>
                <%}%>
                <%if (nfts.metadata.file != null) {%>
                  <a href="<%=nfts.metadata.license_url%>" target="_blank" style="text-decoration: none;">
                    <img style="height: 40px; width:40px; margin-right:10px;" src="/images/NFTlicense.png">
                  </a>
                <%}%>
            </div>
          <%if (BigInt(nfts.id.tokenId) === BigInt(listings[0].tokenId)) {%>

          <% const attributes = Object.keys(nfts.metadata.attributes);%>
              <%for (p=0; p<attributes.length; p++){%>
              <div class="grid-MetaData">
                <div class="bluz" style="padding: 10px;"><%= nfts.metadata.attributes[p].trait_type%>:</div>
                <div style="padding: 10px;"><%= nfts.metadata.attributes[p].value%></div>
              </div>
              <%}%>
              <%}%>
            
            <%} else {%>
              <h1>NFT Info</h1>
              <div style="margin-top: 5px; margin-bottom: 10px; text-align: center;">
              <%if (nfts.metadata.file != null) {%>
                  <a href="<%=nfts.metadata.file%>" target="_blank" style="text-decoration: none;">
                    <img style="height: 40px; width:40px; margin-right:10px;" src="/images/filelocation.png">
                  </a>
                <%}%>
                <%if (nfts.metadata.file != null) {%>
                  <a href="<%=nfts.metadata.license_url%>" target="_blank" style="text-decoration: none;">
                    <img style="height: 40px; width:40px; margin-right:10px;" src="/images/NFTlicense.png">
                  </a>
                <%}%>
            </div>
              <div class="grid-MetaData">
                        <div class="bluz" style="padding: 10px;">About:</div>
                        <div style="padding: 10px;"><%= nfts.metadata.description%></div>
              </div>
              <%}%>
      <%if(session.zerb && (listings[0].sellerAddress).toLowerCase() === (session.zerb.account).toLowerCase()){%>
        <%if(listings[0].type === 0) {%>
          <div style="margin-bottom: 20px; text-align: center;">
            <h1>Offers</h1>
            <button id="getit" class="marketbtn" style="margin-bottom: 20px;">Connect</button><br>
            <div style="margin-bottom: 20px;">
              <a class='error' style="overflow-wrap: break-word; font-size: 14px;"></a>
            </div>
            <div id="readOnlyList" class="" style="margin-bottom: 20px;">
              <% if(offers.length > 0) {%>
                <div class="grid-MetaData">
                  <div class="bluz" style="padding: 10px;">Buyers</div>
                  <div class="bluz" style="padding: 10px;">Offers</div>
                </div>
              <% offers.forEach((offer,i) => {%>
                <div class="grid-MetaData">
                  <div style="padding: 10px;">
                    <a target="_blank" class="link" style="text-decoration: none;" href="https://etherscan.io/address/<%=offer.buyerAddress%>">
                      <%=offer.buyerAddress.substr(0,4)%>...<%=offer.buyerAddress.substr(offer.buyerAddress.length-4)%>
                    </a>
                  </div>
                  <div style="padding: 10px;"><%=offer.currencyValue.displayValue%> <%=offer.currencyValue.symbol%></div>
                </div> 
                  <%})%>
                <%}%> 
            </div>
              <div id="acceptOffersList" class="hidden" style="margin-bottom: 20px;">
                <% if(offers.length > 0) {%>
                  <div class="grid-MetaData">
                    <div class="bluz" style="padding: 10px;">Buyers</div>
                    <div class="bluz" style="padding: 10px;">Offers</div>
                  </div>
                <% offers.forEach((offer,i) => {%>
                  <div class="grid-MetaData">
                    <div style="padding: 10px;">
                      <a target="_blank" class="link" style="text-decoration: none;" href="https://etherscan.io/address/<%=offer.buyerAddress%>">
                        <%=offer.buyerAddress.substr(0,4)%>...<%=offer.buyerAddress.substr(offer.buyerAddress.length-4)%>
                      </a>
                      <a id="buyerAddress" class="hidden"><%=offer.buyerAddress%></a>
                    </div>
                    <div style="padding: 10px;">
                      <a id="<%=offer.buyerAddress%>" style="display: inline; text-align: center;"><%=offer.currencyValue.displayValue%> <%=offer.currencyValue.symbol%></a>
                      <form id="accpetForm" style="display: inline;">
                        <input name="offerListingID" type="number" value="<%=parseInt(offer.listingId)%>" style="display: none;" class="required" onkeyup="enableSubmit()" readonly>
                        <input name="offerBuyerAddress" type="text" value="<%=offer.buyerAddress%>" style="display: none;" class="required" onkeyup="enableSubmit()" readonly>
                        <input name="offerCurrencyContractAddress" type="text" value="<%=offer.currencyContractAddress%>" style="display: none;" class="required" onkeyup="enableSubmit()" readonly>
                        <input name="offerPriceperToken" type="number" value="<%=parseInt(offer.pricePerToken)%>" style="display: none;" class="required" onkeyup="enableSubmit()" readonly>
                        <input id="accept<%=offer.buyerAddress%>" style="margin-left: 10px;" value="Accept" id="acceptButton" class="marketbtn" type="submit" onclick="return onLoading3()">
                      </form>
                    </div> 
                  </div> 
                    <%})%>
                  <%}%> 
              </div>
          </div>
          <%} else {%>
            <div style="margin-bottom: 20px; text-align: center;">
              <h1>Bids</h1>
              
              <div style="margin-bottom: 20px;">
                <a class='error' style="overflow-wrap: break-word; font-size: 14px; width: 375px;"></a>
              </div>
              <div id="readOnlyList" class="" style="margin-bottom: 20px;">
                <% if(offers.length > 0) {%>
                  <div class="grid-MetaData">
                    <div class="bluz" style="padding: 10px;">Buyers</div>
                    <div class="bluz" style="padding: 10px;">Bids</div>
                  </div>
                <% offers.forEach((offer,i) => {%>
                  <div class="grid-MetaData">
                    <div style="padding: 10px;">
                      <a target="_blank" class="link" style="text-decoration: none;" href="https://etherscan.io/address/<%=offer.buyerAddress%>">
                        <%=offer.buyerAddress.substr(0,4)%>...<%=offer.buyerAddress.substr(offer.buyerAddress.length-4)%>
                      </a>
                    </div>
                    <div style="padding: 10px;"><%=offer.currencyValue.displayValue%> <%=offer.currencyValue.symbol%></div>
                  </div> 
                    <%})%>
                  <%}%> 
              </div>
                <div id="acceptOffersList" class="hidden" style="margin-bottom: 20px;">
                  <% if(offers.length > 0) {%>
                    <div class="grid-MetaData">
                      <div class="bluz" style="padding: 10px;">Buyers</div>
                      <div class="bluz" style="padding: 10px;">Bids</div>
                    </div>
                  <% offers.forEach((offer,i) => {%>
                    <div class="grid-MetaData">
                      <div style="padding: 10px;">
                        <a target="_blank" class="link" style="text-decoration: none;" href="https://etherscan.io/address/<%=offer.buyerAddress%>">
                          <%=offer.buyerAddress.substr(0,4)%>...<%=offer.buyerAddress.substr(offer.buyerAddress.length-4)%>
                        </a>
                        <a id="buyerAddress" class="hidden"><%=offer.buyerAddress%></a>
                      </div>
                      <div style="padding: 10px;">
                        <a id="<%=offer.buyerAddress%>" style="display: inline; text-align: center;"><%=offer.currencyValue.displayValue%> <%=offer.currencyValue.symbol%></a>
                      </div> 
                    </div> 
                      <%})%>
                    <%}%> 
                </div>
            </div>
            <%}%>
      <%} else if(session.guest && (listings[0].sellerAddress).toLowerCase() === (session.guest.account).toLowerCase()) {%>
        <%if(listings[0].type === 0) {%>
          <div style="margin-bottom: 20px; text-align: center;">
            <h1>Offers</h1>
            <button id="getit" class="marketbtn" style="margin-bottom: 20px;">Connect</button><br>
            <div style="margin-bottom: 20px;">
              <a class='error' style="overflow-wrap: break-word; font-size: 14px;"></a>
            </div>
            <div id="readOnlyList" class="" style="margin-bottom: 20px;">
              <% if(offers.length > 0) {%>
                <div class="grid-MetaData">
                  <div class="bluz" style="padding: 10px;">Buyers</div>
                  <div class="bluz" style="padding: 10px;">Offers</div>
                </div>
              <% offers.forEach((offer,i) => {%>
                <div class="grid-MetaData">
                  <div style="padding: 10px;">
                    <a target="_blank" class="link" style="text-decoration: none;" href="https://etherscan.io/address/<%=offer.buyerAddress%>">
                      <%=offer.buyerAddress.substr(0,4)%>...<%=offer.buyerAddress.substr(offer.buyerAddress.length-4)%>
                    </a>
                  </div>
                  <div style="padding: 10px;"><%=offer.currencyValue.displayValue%> <%=offer.currencyValue.symbol%></div>
                </div> 
                  <%})%>
                <%}%> 
            </div>
              <div id="acceptOffersList" class="hidden" style="margin-bottom: 20px;">
                <% if(offers.length > 0) {%>
                  <div class="grid-MetaData">
                    <div class="bluz" style="padding: 10px;">Buyers</div>
                    <div class="bluz" style="padding: 10px;">Offers</div>
                  </div>
                <% offers.forEach((offer,i) => {%>
                  <div class="grid-MetaData">
                    <div style="padding: 10px;">
                      <a target="_blank" class="link" style="text-decoration: none;" href="https://etherscan.io/address/<%=offer.buyerAddress%>">
                        <%=offer.buyerAddress.substr(0,4)%>...<%=offer.buyerAddress.substr(offer.buyerAddress.length-4)%>
                      </a>
                      <a id="buyerAddress" class="hidden"><%=offer.buyerAddress%></a>
                    </div>
                    <div style="padding: 10px;">
                      <a id="<%=offer.buyerAddress%>" style="display: inline; text-align: center;"><%=offer.currencyValue.displayValue%> <%=offer.currencyValue.symbol%></a>
                      <form id="accpetForm" style="display: inline;">
                        <input name="offerListingID" type="number" value="<%=parseInt(offer.listingId)%>" style="display: none;" class="required" onkeyup="enableSubmit()" readonly>
                        <input name="offerBuyerAddress" type="text" value="<%=offer.buyerAddress%>" style="display: none;" class="required" onkeyup="enableSubmit()" readonly>
                        <input name="offerCurrencyContractAddress" type="text" value="<%=offer.currencyContractAddress%>" style="display: none;" class="required" onkeyup="enableSubmit()" readonly>
                        <input name="offerPriceperToken" type="number" value="<%=parseInt(offer.pricePerToken)%>" style="display: none;" class="required" onkeyup="enableSubmit()" readonly>
                        <input id="accept<%=offer.buyerAddress%>" style="margin-left: 10px;" value="Accept" id="acceptButton" class="marketbtn" type="submit" onclick="return onLoading3()">
                      </form>
                    </div> 
                  </div> 
                    <%})%>
                  <%}%> 
              </div>
          </div>
          <%} else {%>
            <div style="margin-bottom: 20px; text-align: center;">
              <h1>Bids</h1>
              
              <div style="margin-bottom: 20px;">
                <a class='error' style="overflow-wrap: break-word; font-size: 14px; width: 375px;"></a>
              </div>
              <div id="readOnlyList" class="" style="margin-bottom: 20px;">
                <% if(offers.length > 0) {%>
                  <div class="grid-MetaData">
                    <div class="bluz" style="padding: 10px;">Buyers</div>
                    <div class="bluz" style="padding: 10px;">Bids</div>
                  </div>
                <% offers.forEach((offer,i) => {%>
                  <div class="grid-MetaData">
                    <div style="padding: 10px;">
                      <a target="_blank" class="link" style="text-decoration: none;" href="https://etherscan.io/address/<%=offer.buyerAddress%>">
                        <%=offer.buyerAddress.substr(0,4)%>...<%=offer.buyerAddress.substr(offer.buyerAddress.length-4)%>
                      </a>
                    </div>
                    <div style="padding: 10px;"><%=offer.currencyValue.displayValue%> <%=offer.currencyValue.symbol%></div>
                  </div> 
                    <%})%>
                  <%}%> 
              </div>
                <div id="acceptOffersList" class="hidden" style="margin-bottom: 20px;">
                  <% if(offers.length > 0) {%>
                    <div class="grid-MetaData">
                      <div class="bluz" style="padding: 10px;">Buyers</div>
                      <div class="bluz" style="padding: 10px;">Bids</div>
                    </div>
                  <% offers.forEach((offer,i) => {%>
                    <div class="grid-MetaData">
                      <div style="padding: 10px;">
                        <a target="_blank" class="link" style="text-decoration: none;" href="https://etherscan.io/address/<%=offer.buyerAddress%>">
                          <%=offer.buyerAddress.substr(0,4)%>...<%=offer.buyerAddress.substr(offer.buyerAddress.length-4)%>
                        </a>
                        <a id="buyerAddress" class="hidden"><%=offer.buyerAddress%></a>
                      </div>
                      <div style="padding: 10px;">
                        <a id="<%=offer.buyerAddress%>" style="display: inline; text-align: center;"><%=offer.currencyValue.displayValue%> <%=offer.currencyValue.symbol%></a>
                      </div> 
                    </div> 
                      <%})%>
                    <%}%> 
                </div>
            </div>
            <%}%>
      <%} else {%>
      <div style="text-align: center; margin-top: 20px; margin-bottom: 20px;" class="buyBuy">
        <h1 style="margin-top: 30px;">i want that!</h1>
        <button id="getit" class="marketbtn" style="margin-bottom: 20px;">Connect</button><br>
        <div style="margin-bottom: 20px;">
          <a class='error' style="overflow-wrap: break-word; font-size: 14px;"></a>
        </div>
        <% if (listings[0].type === 0) { %>
            <button id="buyButton" class="button hidden">Buy</button>
            <form id="offer" action="" class="hidden">
              <a style="font-size: 30px;" class="makeBuy">|</a>
              <input name="listingsId" type="number" value="<%=listings[0].id%>" style="display: none;" class="required" onkeyup="enableSubmit()" readonly>
              <input type="number" name="offerForm" placeholder="Amount" style="width: 139.45px; height: 51.5px; font-size: 20px; margin: 10px 10px;border-radius: 15px; padding: 10px 10px 10px 10px;
              background-color: black; border: 2px solid white; color: white; text-align: center; font-family: Aldrich;" step=".001" onkeyup="enableSubmit()">
              <input type="submit" value="Make Offer" style="font-size: 20px; cursor: pointer; white-space: nowrap; background-color: black; border: 0px; font-family: 'Aldrich';" class="navLinks" onclick="return onLoading3()"> 
            </form>
            <%} else {%>
            <button id="buyButton" class="button hidden">Buyout</button>
            <form id="offer" action="" class="hidden">
              <a style="font-size: 30px;" class="makeBuy">|</a>
              <input name="listingsId" type="number" value="<%=listings[0].id%>" style="display: none;" class="required" onkeyup="enableSubmit()" readonly>
              <input name="offerForm" type="number" placeholder="Amount" style="width: 139.45px; height: 51.5px; font-size: 20px; margin: 10px 10px;border-radius: 15px; padding: 10px 10px 10px 10px;
              background-color: black; border: 2px solid white; color: white; text-align: center; font-family: Aldrich;" step=".001" onkeyup="enableSubmit()">
              <input type="submit" value="Place Bid" style="font-size: 20px; cursor: pointer; white-space: nowrap; background-color: black; border: 0px; font-family: 'Aldrich';" class="navLinks" onclick="return onLoading3()">
            </form><br>
            <a>Bid must be 5% higher than the highest bid</a>
              <%}%>
      </div>
      <%if(listings[0].type === 0) {%>
      <div id="readOnlyList" style="margin-bottom: 20px;">
        <% if(offers.length > 0) {%>
          <div class="grid-MetaData">
            <div class="bluz" style="padding: 10px;">Buyers</div>
            <div class="bluz" style="padding: 10px;">Offers</div>
          </div>
        <% offers.forEach((offer,i) => {%>
          <div class="grid-MetaData">
            <div style="padding: 10px;">
              <a target="_blank" class="link" style="text-decoration: none;" href="https://etherscan.io/address/<%=offer.buyerAddress%>">
                <%=offer.buyerAddress.substr(0,4)%>...<%=offer.buyerAddress.substr(offer.buyerAddress.length-4)%>
              </a>
              <a id="buyerAddress" class="hidden"><%=offer.buyerAddress%></a>
            </div>
            <div id="<%=offer.buyerAddress%>" style="padding: 10px;"><%=offer.currencyValue.displayValue%> <%=offer.currencyValue.symbol%></div>
          </div> 
            <%})%>
          <%}%>
          <%if (offers.length = 0) {%>
            <a>No Offers</a>
            <%}%> 
      </div>
      <%} else {%>
        <div id="readOnlyList" style="margin-bottom: 20px;">
          <% if(offers.length > 0) {%>
            <div class="grid-MetaData">
              <div class="bluz" style="padding: 10px;">Buyers</div>
              <div class="bluz" style="padding: 10px;">Bids</div>
            </div>
          <% offers.forEach((offer,i) => {%>
            <div class="grid-MetaData">
              <div style="padding: 10px;">
                <a target="_blank" class="link" style="text-decoration: none;" href="https://etherscan.io/address/<%=offer.buyerAddress%>">
                  <%=offer.buyerAddress.substr(0,4)%>...<%=offer.buyerAddress.substr(offer.buyerAddress.length-4)%>
                </a>
                <a id="buyerAddress" class="hidden"><%=offer.buyerAddress%></a>
              </div>
              <div id="<%=offer.buyerAddress%>" style="padding: 10px;"><%=offer.currencyValue.displayValue%> <%=offer.currencyValue.symbol%></div>
            </div> 
              <%})%>
            <%}%>
            <%if (offers.length = 0) {%>
              <a>No Bids</a>
              <%}%> 
        </div>
        <%}%>
      <%}%>
    </div>
  </div>
</div>

<br>



 
<a id="wrapper" style="display: none;"><%=JSON.stringify(wrapper)%></a>
<a id="offersAll" style="display: none;"><%=JSON.stringify(offers)%></a>

</main>


<footer id="footer">
    <%- include('../partials/footerMarket'); %>
</footer>

<script>
function enableSubmit(){
  let inputs = document.getElementsByClassName('required'); // Enter your class name for a required field, this should also be reflected within your form fields.
  let create = document.querySelector('input[type="submit"]');
  let isValid = true;
  
  for (var i = 0; i < inputs.length; i++){
    let changedInput = inputs[i];
        if (changedInput.value.trim() === "" || changedInput.value === null){
          isValid = false;
          break;
          }
    } 
    create.disabled = !isValid;
  }


</script>
<script src="/js/imgLoader.js"></script>
<script src="/js/imLoading.js"></script>
<script src="/js/offerOrBid.js"></script>
<script src="/js/acceptOffer.js"></script>
<script src="/js/purchaseV2.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.8.2/web3.min.js"></script>
<script src="https://unpkg.com/@walletconnect/ethereum-provider@2.4.7/dist/index.umd.js"></script>
<script src="https://unpkg.com/web3modal@1.9.5/dist/index.js"></script>
</body>
</html>